body {
  color:white;
  background-image:url("swords.jpg");
  background-color:black;
}

.game {
  color:maroon;
  font-family:georgia;
  text-align:center;
}

.button {
  color:red;
  font-family:calibri;
  text-align:center;
  background-color:silver;

}
